.navbar {
  &-nav {
    background-color: rgb(253, 251, 251);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 100;
    &-brand {
      color: #fff;
    }
  }

  &-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    li a {
      text-decoration: none;
      color: rgb(106, 106, 106);

      &:hover {
        color: #2e2d2d;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);

    .bar {
      height: 2px;
      width: 27px;
      margin: 0 0 6px 0;
      background-color: #fff;
      transition: 0.3s ease-in;
    }
  }
}

.active {
  color: purple;
}

@media (max-width: 500px) {
  .navbar {
    font-size: 1.2rem;
  }
}
