<nav class="navbar-nav">
  <ul class="navbar-ul" [ngClass]="{ show: isShow }">
    <li
      class="navbar-ul-li"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/pexels" (click)="this.isShow = false">
        Pexels
      </a>
    </li>
    <li
      class="navbar-ul-li"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/unsplash" (click)="this.isShow = false">
        Unsplash
      </a>
    </li>
    <li
      class="navbar-ul-li"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/pixabay" (click)="this.isShow = false">
        Pixabay
      </a>
    </li>
  </ul>
  <div class="hamburger" (click)="this.isShow = !this.isShow">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>
