<nav class="navbar-nav">
  <ul class="navbar-ul">
    <li class="navbar-ul-li">
      <a routerLink="/" routerLinkActive="active">
        All
      </a>
    </li>
    <li class="navbar-ul-li">
      <a routerLink="/pexels" routerLinkActive="active">
        Pexels
      </a>
    </li>
    <li class="navbar-ul-li">
      <a routerLink="/unsplash" routerLinkActive="active">
        Unsplash
      </a>
    </li>
    <li class="navbar-ul-li">
      <a routerLink="/pixabay" routerLinkActive="active">
        Pixabay
      </a>
    </li>
  </ul>
  <div class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>
