.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 10px;

  &.middle {
    margin: 0 auto;
  }

  .search-shadow {
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .search-input,
    .submit-btn {
      font-size: 2rem;
      padding: 0.5rem 0.8rem;
      color: rgb(100, 100, 100);
      border: 1px solid rgb(218, 218, 218);
      background-color: transparent;
    }

    .search-input {
      border-radius: 30px 0 0 30px;
      border-right: none;
    }

    .submit-btn {
      border-left: none;
      border-radius: 0 30px 30px 0;

      .fa-search-icon {
        transition: 0.1s ease-in;
        &:hover {
          cursor: pointer;
          color: #4c87f5;
        }
        &:active {
          color: darken($color: #4c87f5, $amount: 5);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .search-form {
    width: 80%;
  }
}

@media (max-width: 590px) {
  // .app-navbar {
  //   width: 50%;
  // }
  .search-form {
    width: 100%;

    .search-shadow {
      .search-input,
      .submit-btn {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
    }
  }
}
