<!-- Three kinds of images, three different image boxes -->

<!-- Pexels -->
<a
  routerLink="/image/{{ type }}/{{ image.id }}"
  [state]="{ image: image, type: type }"
  *ngIf="type === 'pexels'"
>
  <div class="image-pexels">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
  </div>
</a>

<!-- Pixabay -->
<a
  routerLink="/image/{{ type }}/{{ image.id }}"
  [state]="{ image: image, type: type }"
  *ngIf="type === 'pixabay'"
>
  <div class="image-pixabay">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
  </div>
</a>

<!-- Unsplash -->
<a
  routerLink="/image/{{ type }}/{{ image.id }}"
  [state]="{ image: image, type: type }"
  *ngIf="type === 'unsplash'"
>
  <div class="image-unsplash">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
  </div>
</a>
