<!-- Three kinds of images, three different image boxes -->

<!-- Pexels -->
<a
  routerLink="/image/{{ image.type }}/{{ image.id }}"
  [state]="{ prevLocation: prevLocation }"
  *ngIf="image.type === 'pexels'"
>
  <div class="image-pexels">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
    <div class="overlay">
      <p>Author: {{ image.photographer }}</p>
      <p>Provided by: Pexels</p>
    </div>
  </div>
</a>

<!-- Pixabay -->
<a
  routerLink="/image/{{ image.type }}/{{ image.id }}"
  [state]="{ prevLocation: prevLocation }"
  *ngIf="image.type === 'pixabay'"
>
  <div class="image-pixabay">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
    <div class="overlay">
      <p>Author: {{ image.photographer }}</p>
      <p>Provided by: Pixabay</p>
    </div>
  </div>
</a>

<!-- Unsplash -->
<a
  routerLink="/image/{{ image.type }}/{{ image.id }}"
  [state]="{ prevLocation: prevLocation }"
  *ngIf="image.type === 'unsplash'"
>
  <div class="image-unsplash">
    <img [src]="image.imageSmall" alt="small image" class="image-box-image" />
    <div class="overlay">
      <p>Author: {{ image.photographer }}</p>
      <p>Provided by: Unsplash</p>
    </div>
  </div>
</a>
