.image {
  &-unsplash,
  &-pixabay,
  &-pexels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(104, 103, 103);
    transition: 0.3s ease-out;
    margin: 10px;

    &:hover {
      transform: translate3d(0, -10px, 15px);
      z-index: 2;
      box-shadow: 0 0 15px #333;
      cursor: pointer;
    }
  }

  &-unsplash img {
    max-height: 350px;
  }
}

@media (max-width: 590px) {
  .image-pexels img,
  .image-pixabay img,
  .image-unsplash img {
    height: 250px;
  }
}
