.image {
  &-unsplash,
  &-pixabay,
  &-pexels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(104, 103, 103);
    transition: 0.3s ease-out;
    margin: 10px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;

    img {
      min-width: 100%;
    }

    .overlay {
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      background-color: rgb(0, 0, 0, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.3s ease-out;

      p {
        transform: translateY(10px);
        padding: 10px 20px;
        color: #fff;
        font-weight: 300;
        font-size: 1.2rem;
        transition: 0.4s ease-in;
      }
    }

    &:hover {
      transform: translate3d(0, -10px, 15px);
      box-shadow: 0 0 15px #333;
      cursor: pointer;

      .overlay {
        opacity: 1;

        p {
          transform: translateY(0);
        }
      }
    }
  }

  &-unsplash img {
    max-height: 350px;
  }
}

@media (max-width: 590px) {
  .image-pexels img,
  .image-pixabay img,
  .image-unsplash img {
    height: 250px;
    width: 250px;
  }
}
